@import "normalize.css";
@import url('https://use.typekit.net/waz4tsx.css');




:root{
    --primary : rgba(254, 44, 85, 1);
}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    color: red;
}

body {
    font-family: ibm-plex-sans, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    text-rendering: optimizeSpeed;
}